In [11]:
rupee= 700
paisa= rupee*100
print(paisa)

70000

In [1]:
radius= float(input("enter radius of earth in centimeters"))
circumference= 2*3.24*radius
print(circumference)

enter radius of earth in centimeters6371
41284.08

In [ ]:
speed_of_light=int(input("enter speed of light m/s"))
half_light_year= speed_of_light*60*60*24*30*6
print(half_light_year)

In [ ]:
speed_of_light=int(input("enter speed of light m/s"))
kilometres_per_month= ((speed_of_light * 60 * 60 * 24 * 30) / 1000)
print(kilometres_per_month)

In [3]:
age=int(input("enter your age"))
age_in_nanoseconds= age*365*24*60*60*1000000000
print(age_in_nanoseconds)

enter your age22
693792000000000000

In [7]:
print(1,000,000)

1 0 0

In [8]:
print(1,000,000)

1 0 0

In [9]:
print(190)

190

In [10]:
print(1)
num = 2
print(num)

1
2

In [2]:
print(‘nine’ + 9)

SyntaxError: invalid character in identifier (<ipython-input-2-a22d1ab4bbb4>, line 1)

In [3]:
print(" Rehan Riaz")

 Rehan Riaz

In [4]:
print("Rehan Riaz")

Rehan Riaz

In [6]:
base = int(input("Input the base : "))
height = int(input("Input the height : "))

area = (base * height) /2

print(area)

Input the base : 2
Input the height : 4
4.0

In [13]:
radius= 12
circumference = 2* 3.14* radius
area = 3.14* radius*radius
print("circumference is=",circumference)
print("area is=",area)

circumference is= 75.36
area is= 452.15999999999997

In [15]:
quote = "Surprisingly enough, Python has taught me more about Lisp than Lisp ever did"

In [16]:
print(quote)

Surprisingly enough, Python has taught me more about Lisp than Lisp ever did

In [18]:
print(quote[:])

Surprisingly enough, Python has taught me more about Lisp than Lisp ever did

In [19]:
print(quote[:-1])

Surprisingly enough, Python has taught me more about Lisp than Lisp ever di

In [20]:
print(quote[1:-4])

urprisingly enough, Python has taught me more about Lisp than Lisp ever

In [21]:
print(quote[150])

IndexError: string index out of range

In [22]:
print(quote[15:150])

ough, Python has taught me more about Lisp than Lisp ever did

In [29]:
print(quote.find(','))

19

In [30]:
print(quote.find('.'))

-1

In [31]:
print(quote.find('lisp'))

-1

In [33]:
print(quote.find('Lisp'))

53

In [35]:
print(quote.find('Lisp',10))

53

In [37]:
print(quote.find('Lisp',60))

63

In [38]:
print('nine' + 9)

TypeError: can only concatenate str (not "int") to str

In [39]:
print(quote.find('.'))

-1

In [40]:
print(1,990,989)

1 990 989

In [41]:
print(00000)

0

In [44]:
circumference_in_km = 40075 
circumference_in_centimeters= 40075*1000*100
print(circumference_in_centimeters)

4007500000

In [46]:
print(" Rehan Riaz",22)

 Rehan Riaz 22